.header__burger-menu-button {
  display: none;
}

@media (max-width: 918px) {
  .header__burger-menu-button {
    display: flex;
    width: 24px;
    height: 18px;
    background-image: url('../../../images/burger-menu-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 18px;
  }

  .header__burger-menu-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s linear;
  }
}
