.element__img {
  width: 100%;
  min-width: 282px;
  min-height: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 918px) {
  .element__img {
    min-width: 100px;
  }
}

/* .element__img:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity .3s ease;
} */
